#Tarea 1

In [1]:
#4. Imprima **"Hola mundo"** utilizando la función print()
print("Hola mundo")

Hola mundo

In [3]:
#5. Cree tres variables **nombre**, **edad**, **pais**. Asigne el valor de estas variables a su nombre, edad, y país.
nombre = "Glenda"
edad = 22
pais = "El Salvador"

In [4]:
#6. Concatene e imprima las variables **nombre**, **edad**, **pais** utilizando una sola función print().

print("nombre:", nombre)
print("edad:", edad)
print("pais:", pais)

nombre: Glenda
edad: 22
pais: El Salvador

In [5]:
#7. ¿Qué tipo de datos son las variables **nombre**, **edad**, **país**? Imprima el tipo de dato de estas variables con la función print().

print(type(nombre))
print(type(edad))
print(type(pais))

<class 'str'>
<class 'int'>
<class 'str'>

In [10]:
#8. Imprima la frase "En astronomía, la clasificación estelar es la clasificación de las estrellas en función de sus características espectrales." en tres líneas separadas utilizando una sola función print() y el caracter de escape *\n*. Su output debería verse así:

print("En astronomía, la clasificación estelar\nes la clasificación de las estrellas\nen función de sus características espectrales")

En astronomía, la clasificación estelar
es la clasificación de las estrellas
en función de sus características espectrales

In [34]:
#9. Imprima las strings "Hipergigantes", "Subgigantes", "Secuencia principal" utilizando una sola función print(), cada palabra deberá estar separada por una string "---" utilizando el argumento sep="---". La línea debe de terminar con un string "\*", utilizando el argumento end=""

name1 = "Hipergigantes"
name2 = "Subgigantes"
name3 = "Secuencia principal"
print(name1+"---"+name2+"---"+name3+"\*")

Hipergigantes---Subgigantes---Secuencia principal\*

In [4]:
#10. Una masa solar es equivalente a 1,98892 × 10^30 kg. El Sol (1 masa solar) tiene aproximadamente 1048 veces la masa de Júpiter. Cree dos variables **m_solar** y **m_jupiter** correspondientes a la masa del Sol y el *cálculo* de la masa de Júpiter. Imprima el resultado utilizando la función print() con interpolación de variables i.e.[print(f"Un string {su_variable}"]. 
n=1048
m_solar = 1.98892e30
m_jupiter = n * m_solar

print(f"Masa del Sol = {m_solar} kg")
print(f"Masa de Jùpiter = {m_jupiter}kg")

Masa del Sol = 1.98892e+30 kg
Masa de Jùpiter = 2.08438816e+33kg

In [76]:
#11. Una Unidad Astronómica AU es definida como "una unidad de longitud igual, por definición, a 149 597 870 700 m que equivale aproximadamente a la distancia media entre la Tierra y el Sol." Utilizando Python: operadores <>, condicionales *if*, y print(). Evalue las condiciones *True False* e imprima *True* si su distancia al Sol es mayor que 1 AU o imprima *False* si la distancia del planeta al Sol es menor a 1 AU.


#   1 UA=149 597 870 700 m

x = True
y = False

#Mercurio = 0.389 AU
1 or 0.389
if 1 > 0.389: 
    print(x)
    
#Venus = 0.723 AU
1 or 0.723
if 1 > 0.723: 
    print(x)
    
#Marte = 1.524 AU 
1.524 or 1
if 1 < 1.524: 
    print(y)
    
#Júpiter = 5.203 AU 
5.203 or 1
if 1 < 5.203: 
    print(y)

#Saturno = 9.537 AU 
9.537 or 1
if 1 < 9.537:
    print(y)

True
True
False
False
False